// npm run sass pour lancer sass

@import "./utils/variables";
@import "./utils/functions";
@import "./utils/mixins";
@import "./utils/extensions";

@import "./base/base";
@import "./base/typography";

@import "./components/buttons";

@import "./layout/header";
@import "./layout/nav";
@import "./layout/container";
@import "./layout/forms";
@import "./layout/footer";


@import "./pages/menu_a_la_francaise";
@import "./pages/index";



body {
    margin: auto;
}

.header {
    position: relative;
    display: flex;
    height: 55px;
    & > a:nth-child(1) {
        margin: auto;
        display: flex;
        & img {
            display: flex;
            align-self: center;
            height: 30px;
        }
    }

    & > a:nth-child(2) {
        position: absolute;
        display: flex;
        text-decoration: inherit;
        color: #525252;
        align-self: center;
        left: 25px;
    }
}

.locate {
    display: flex;
    background-color: #eaeaea;
    box-shadow: inset 0px 2px 4px 0px rgba(0, 0, 0, 0.2);
    height: 50px;
    justify-content: center;
    & div {
        display: flex;
        align-items: center;
        
        gap: 15px;
        & i {
            color: #353535;
        }

        & p {
            margin: inherit;
            font-family: 'Roboto', sans-serif;
            font-weight: 700;
            font-size: medium;
            color: #525252;
        }
    }
}

.explore {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    background-color: #f7f7f7;
    padding: 40px 0 40px 0;
    & h1 {
        margin: inherit;
        font-family: 'Roboto', sans-serif;
        font-weight: 900;
        font-size: x-large;
        text-align: center;
        width: 250px;
    }
    & h2 {
        margin: inherit;
        font-family: 'Roboto', sans-serif;
        font-weight: 300;
        font-size: large;
        text-align: center;
        width: 350px;
    }
    & div {
        padding: 10px;
        & a {
            color: inherit;
            text-decoration: inherit;
            
            & p {
                margin: inherit;
                font-family: 'Roboto', sans-serif;
                font-weight: 400;
                font-size: 0.95em;
                color: #ffffff;
                background : linear-gradient(to bottom right,  #FF79DA, #9356DC);
                box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
                padding: 15px 20px 15px 20px;
                border-radius: 25px;
            }
        }
    }
}

.process {
    display: flex;
    flex-direction: column;
    padding: 40px 0 40px 0;
    gap: 20px;
    & h1 {
        margin: 0 0 0 15px;
        font-family: 'Roboto', sans-serif;
        font-weight: 900;
        font-size: x-large;
    }
    &__div {
        display: flex;
        flex-direction: column;
        padding: 0 15px 0 25px;
        gap: 20px;
        &__button {
            display: flex;
            position: relative;
            & > div {
                position: absolute;
                left: -9px;
                align-self: center;
                & p {
                    font-family: 'Roboto', sans-serif;
                    font-weight: 400;
                    font-size: small;
                    color: #ffffff;
                    margin: inherit;
                    background-color: #9356DC;
                    padding: 4px 7px 4px 7px;
                    border-radius: 100%;
                }
            }

            & > a {
                width: 100%;
                color: inherit;
                text-decoration: inherit;
                display: flex;
                gap: 25px;
                & div {
                    width: 100%;
                    background-color: #f7f7f7;
                    display: flex;
                    padding: 25px 30px;
                    gap: 20px;
                    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.1);
                    border-radius: 15px;
                    & i {
                        display: flex;
                        align-items: center;
                        color: #7e7e7e;
                    }
                    & p {
                        margin: inherit;
                        font-family: 'Roboto', sans-serif;
                        font-weight: 700;
                        font-size: medium;
                    }
                }
            }

            & > a:hover {
                & div {
                    background-color: #f5edff;
                    & i {
                        color: #9356DC;
                    }
                }
            }
        }
    }
}

.restaurant {
    display: flex;
    flex-direction: column;
    background-color: #f7f7f7;
    padding: 50px 0;

    & > h1 {
        margin: 0 0 0 15px;
        font-family: 'Roboto', sans-serif;
        font-weight: 900;
        font-size: x-large;
    }

    & > div {
        display: flex;
        flex-direction: column;
        padding: 20px;
        gap: 15px;

        .restaurant__card {
            display: flex;
            flex-direction: column;
            border-radius: 15px;
            box-shadow: 0 4px 8px 0 rgba(0,0,0,0.1);
            position: relative;

            &__newbutton {
                position: absolute;
                background-color: #99e2d0;
                padding: 5px 10px;
                border-radius: 2px;
                right: 15px;
                top: 15px;
                & p {
                    margin: inherit;
                    color: #1f9a7b;
                    font-family: 'Roboto', sans-serif;
                    font-weight: 500;
                    font-size: 0.9em;
                }
            }

            &__img {
                & img {
                    object-fit: cover;
                    width: 100%;
                    height: 170px;
                    border-top-left-radius: 15px;
                    border-top-right-radius: 15px;
                }
            }

            &__description {
                display: flex;
                justify-content: space-between;
                padding: 15px;
                & div:nth-child(1){
                    display: flex;
                    flex-direction: column;
                    gap: 5px;
                    & h2 {
                        font-family: 'Roboto', sans-serif;
                        font-weight: 800;
                        font-size: 1.1em;
                        margin: inherit;
                        & a {
                            text-decoration: none;
                            color: inherit; 
                            &::after {
                                    content: "";
                                    position: absolute;
                                    top: 0;
                                    right: 0;
                                    bottom: 0;
                                    left: 0;
                            }
                        }
                    }
                    & p {
                        margin: inherit;
                        font-family: 'Roboto', sans-serif;
                        font-weight: 300;
                        font-size: 0.95em;
                    }
                }
                
                &__heart {
                        display: flex;
                        justify-content: center;
                        padding-right: 10px;
                        & > button {
                            position: relative;
                            background-color: inherit;
                            border: inherit;
                            padding: 0;
                            & i:nth-child(1) {
                                color: #525252;
                            }
                            & i:nth-child(2) {
                                display: none;
                            }

                            &:active {
                                & i:nth-child(1) {
                                    display: none;
                                }

                                & i:nth-child(2) {
                                    display: flex;
                                }
                            }
                        }
                }
            }
        }
    }
}

footer {
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: #353535;
    padding: 25px;
    & a {
        color: inherit;
        text-decoration: inherit;
    }
    & div:nth-child(1) {
        & > img {
            height: 1.1em;
        }
    }
    & div:nth-child(2) {
        display: flex;
        flex-direction: column;
        gap: 10px;
        & div {
            & a {
                display: flex;
                gap: 10px;
                & i {
                    align-self: center;
                    color: white;
                    width: 10px;
                }
                & p {
                    color: white;
                    margin: inherit;
                    font-family: 'Roboto', sans-serif;
                    font-weight: 400;
                    font-size: 0.96em;
                }
            }
        }
    }
}

//scss pour la page menu a la francaise

.background-image {
    & img {
        width: 100%;
        object-fit: cover;
        height: 275px;
    }
}

