footer {
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: #353535;
    padding: 25px;
    @media (min-width: 992px) {
        align-items: center;
    }

    
    @media (min-width: 768px) and (max-width:992px) {
         align-items: center;   
    }
    & a {
        color: inherit;
        text-decoration: inherit;
    }
    & div:nth-child(1) {
        & > p {
            font-family: 'Shrikhand', cursive;
            font-weight: 500;
            font-size: 1.2em;
            margin: inherit;
            color: white;
        }
    }
    & div:nth-child(2) {
        display: flex;
        flex-direction: column;
        gap: 10px;
        & div {
            & a {
                display: flex;
                gap: 10px;
                & i {
                    align-self: center;
                    color: white;
                    width: 10px;
                }
                & p {
                    color: white;
                    margin: inherit;
                    font-family: 'Roboto', sans-serif;
                    font-weight: 400;
                    font-size: 0.96em;
                }
            }
        }
    }
}