.restaurant__card {
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.1);
    position: relative;

    &__newbutton {
        position: absolute;
        background-color: #99e2d0;
        padding: 5px 10px;
        border-radius: 2px;
        right: 15px;
        top: 15px;
        & p {
            margin: inherit;
            color: #1f9a7b;
            font-family: 'Roboto', sans-serif;
            font-weight: 500;
            font-size: 0.9em;
        }
    }

    &__img {
        & img {
            object-fit: cover;
            width: 100%;
            height: 170px;
            border-top-left-radius: 15px;
            border-top-right-radius: 15px;
        }
    }

    &__description {
        display: flex;
        justify-content: space-between;
        padding: 15px;
        & div:nth-child(1){
            display: flex;
            flex-direction: column;
            gap: 5px;
            & h2 {
                font-family: 'Roboto', sans-serif;
                font-weight: 800;
                font-size: 1.1em;
                margin: inherit;
                & a {
                    text-decoration: none;
                    color: inherit; 
                    &::after {
                            content: "";
                            position: absolute;
                            top: 0;
                            right: 0;
                            bottom: 0;
                            left: 0;
                    }
                }
            }
            & p {
                margin: inherit;
                font-family: 'Roboto', sans-serif;
                font-weight: 300;
                font-size: 0.95em;
            }
        }
    }
}

.card__plat {
    box-shadow: 3px 5px 10px 4px rgba(0,0,0,0.1);
    border-radius: 15px;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    & > div:nth-child(1) {
        display: flex;
        flex-direction: column;
        gap: 5px;
        & h3 {
            margin: inherit;
            font-family: 'Roboto', sans-serif;
            font-weight: 600;
            font-size: 1.1em;
        }   
        & p {
            margin: inherit;
            font-family: 'Roboto', sans-serif;
            font-weight: 400;
            font-size: 0.95em;
        }
    }

    & > div:nth-child(2) {
        display: flex;
        justify-content: flex-start;
        align-items: flex-end;
        flex-basis: 40px;
        & h3 {
            margin: inherit;
            font-family: 'Roboto', sans-serif;
            font-weight: 600;
            font-size: 0.95em;
        }
    }

    & > div:nth-child(3) {
        display: none;
    }
}